h1 {
  font-family: sans-serif;
  font-weight: 400;
  color: rgb(252, 194, 3);
}

.headA {
  text-align: right;
  padding-right: 300px;
}

.headB {
  padding-top: 30px;
  text-align: center;
}

.layout {
  padding-top: 20px;
  padding-left: 50px;
  display: flex;
  justify-content: end;
  height: 600px;
  width: 1210px;
}

.homeFlower {
  border: 1px solid;
  height: 600px;  
  width: 950px;
}

.jarBlock{
  height: 80px;
  width: 80px;
}

.jar{
  padding-left: 70px;
}

.reference {
  padding-top: 150px;
  height: 300px;
  width: 200px;
}

.textA {
  margin-top: 50px;
  margin-left: 30px;
  font-family: sans-serif;
  font-weight: 70;
  line-height: 30px;
}

.textB {
  font-family: sans-serif;
  font-weight: 70;
}

.commentSection{
  padding-top: 30px;
  padding-left: 150px;
}

.commentBox{
  height:150px;
  width:900px;
  border:1px solid;
  display: flex;
  justify-content: end;
  font-family: sans-serif;
  font-size: large;
  font-weight: 100;
}

.info{
  height:40px;
  width:750px;
  border-bottom:1px solid ;
  display: flex;
  padding-top:10px;
  justify-content: space-around;
}

.commentText{
  padding: 25px;
}